.card {
  border: 3px solid black;
  height: 300px;
  width: 200px;
  margin: auto 0%;
  margin-top: 20%;
  margin-left: 20%;
  background-color: white;
  border-radius: 15px;
}

#top {
  text-align: left;
  font-size: 4em;
  padding-left: 5px;
}
#middle {
  text-align: center;
  font-size: 8em;
}
#bottom {
  text-align: right;
  padding-right: 5px;
  font-size: 4em;
}
body {
  background-color: green;
}
